APP_ORIGIN=http://localhost:8787
DISCORD_CLIENT_ID=your_application_id
DISCORD_CLIENT_SECRET=your_application_client_secret
SERVICE_ENABLED=true
LASTFM_API_KEY=your_lastfm_api_key
LASTFM_API_SECRET=your_lastfm_shared_secret
TOKEN_ENCRYPTION_KEY=replace_with_openssl_rand_hex_32
